In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('./data/墨尔本温度数据.csv', parse_dates=['Date'])
df

           Date  Temp
0    1981-01-01  20.7
1    1981-01-02  17.9
2    1981-01-03  18.8
3    1981-01-04  14.6
4    1981-01-05  15.8
...         ...   ...
3645 1990-12-27  14.0
3646 1990-12-28  13.6
3647 1990-12-29  13.5
3648 1990-12-30  15.7
3649 1990-12-31  13.0

[3650 rows x 2 columns]

#### (1) 剔除国庆节、五一劳动节和每月第一个周一，求每月的平均最低气温。

In [7]:
from datetime import datetime 

# 记录每个月的周一
s_date = df.loc[df['Date'][df['Date'].apply(
        lambda x:True if datetime.strptime(str(x).split()[0],'%Y-%m-%d').weekday() == 0 
        and 1 <= datetime.strptime(str(x).split()[0],'%Y-%m-%d').day <= 7 else False)].index,:].set_index('Date').index

holidays = pd.date_range(start='1981-5-1', end='1981-5-3').append(pd.date_range('1981-10-1', end='1981-10-7')).\
    append(pd.date_range(start='1982-5-1', end='1982-5-3')).append(pd.date_range('1982-10-1', end='1982-10-7')).\
    append(pd.date_range(start='1983-5-1', end='1983-5-3')).append(pd.date_range('1983-10-1', end='1983-10-7')).\
    append(pd.date_range(start='1984-5-1', end='1984-5-3')).append(pd.date_range('1984-10-1', end='1984-10-7')).\
    append(pd.date_range(start='1985-5-1', end='1985-5-3')).append(pd.date_range('1985-10-1', end='1985-10-7')).\
    append(pd.date_range(start='1986-5-1', end='1986-5-3')).append(pd.date_range('1986-10-1', end='1986-10-7')).\
    append(pd.date_range(start='1987-5-1', end='1987-5-3')).append(pd.date_range('1987-10-1', end='1987-10-7')).\
    append(pd.date_range(start='1988-5-1', end='1988-5-3')).append(pd.date_range('1988-10-1', end='1988-10-7')).\
    append(pd.date_range(start='1989-5-1', end='1989-5-3')).append(pd.date_range('1989-10-1', end='1989-10-7')).\
    append(pd.date_range(start='1990-5-1', end='1990-5-3')).append(pd.date_range('1990-10-1', end='1990-10-7')).\
    append(s_date)


date_index = pd.bdate_range(start='1981-1-1', end='1990-12-31',freq='C', weekmask='Mon Tue Wed Thu Fri Sat Sun', holidays=holidays)
df.loc[df['Date'].isin(date_index)].set_index('Date').resample('MS').min()

            Temp
Date
1981-01-01  12.1
1981-02-01  13.7
1981-03-01   8.0
1981-04-01   7.4
1981-05-01   2.1
...          ...
1990-08-01   2.1
1990-09-01   3.0
1990-10-01   6.0
1990-11-01   8.3
1990-12-01  10.0

[120 rows x 1 columns]

#### 季节指数
是一种对于周期性变化序列的特征刻画。记数据集中第k 年
平均最低气温为$\mathrm{TY}_{\mathrm{k}}(\mathrm{k}=1, \ldots, 10)$，第k 年第j 个月平均最低气温为
$\mathrm{TM}_{\mathrm{kj}}(\mathrm{j}=1, \ldots, 12)$，定义Sj =
$\mathrm{S}_{\mathrm{j}}=\frac{\sum_{\mathrm{k}} \mathrm{TM}_{\mathrm{kj}}}{\sum_{\mathrm{k}} \mathrm{TY}_{\mathrm{k}}}$。请按照如上定义，计算12 个
月的季节指数$S_j$。

In [9]:
df = df.set_index('Date')
df.resample('MS').min().sum() / df.resample('YS').min().sum()

Temp    75.009804
dtype: float64

#### a，5期移动平均

In [12]:
df.rolling(window=5).mean()

             Temp
Date
1981-01-01    NaN
1981-01-02    NaN
1981-01-03    NaN
1981-01-04    NaN
1981-01-05  17.56
...           ...
1990-12-27  13.08
1990-12-28  13.02
1990-12-29  13.72
1990-12-30  14.28
1990-12-31  13.96

[3650 rows x 1 columns]

#### b，5，6期中心移动平均

In [15]:
df.rolling(window=5, center=True).mean()

             Temp
Date
1981-01-01    NaN
1981-01-02    NaN
1981-01-03  17.56
1981-01-04  16.58
1981-01-05  16.16
...           ...
1990-12-27  13.72
1990-12-28  14.28
1990-12-29  13.96
1990-12-30    NaN
1990-12-31    NaN

[3650 rows x 1 columns]

In [14]:
df.rolling(window=6, center=True).mean()

                 Temp
Date
1981-01-01        NaN
1981-01-02        NaN
1981-01-03        NaN
1981-01-04  17.266667
1981-01-05  16.450000
...               ...
1990-12-27  13.100000
1990-12-28  14.050000
1990-12-29  14.066667
1990-12-30        NaN
1990-12-31        NaN

[3650 rows x 1 columns]